.popup {
  display:none;
  position:fixed;
  top:0; right:0; bottom:0; left:0;
  background:rgba(0,0,0,0.9);
  z-index:998;
}
.popup-window {
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
  position:absolute;
  background:#fff;
  width:330px;
  color:#000;
  padding:25px;
  font-size:13px;
}
.close-button {
  position:absolute;
  right:0;
  top:-35px;
  width:30px;
  height:30px;
  border:0;
  background:url(../svg/form-x.svg) center center no-repeat;
}
.close-button:hover {
  cursor:pointer;
}
.feedback-form {
  display:flex;
  flex-direction:column;
}
.label {
  margin-bottom:10px;
}
.label:nth-of-type(n+2) {
  margin-top:25px;
}
.select, .textarea {
  width: 100%;
  padding:0 20px;
  border: 1px solid #f4f7f6;
  color: #939594;
}
.select {
  display: inline-block;
  height: 48px;
  background:url(../svg/form-arrows.svg) #f4f7f6;
  background-repeat:no-repeat;
  background-size:auto 16px;
  background-position:center right 12px;
}
.select:focus, .textarea:focus {
  border: 1px solid #b59f5b;
  color:#000;
}
.form-newsletter label {
  padding-right:30px;
}
.radio-label, .radio-label:before {
  display: inline-block;
}
.radio-label:before {
  content:'';
  font-size:25px;
  margin-right: 5px;
  vertical-align:middle;
  width:1em;
  height:1em;
  background:url(../svg/form-empty-circle.svg) center center no-repeat;
  background-size:1em 1em;
}
.feedback-form input[type=radio]:checked + .radio-label:before {
	background:url(../svg/form-circle.svg) center center no-repeat;
  background-size:1em 1em;
}
.feedback-form .radio-label:hover {
	cursor:pointer;
}
.textarea {
  resize:none;
  padding:20px;
  background-color:#f4f7f6;
}
@media (min-width:360px) and (orientation:landscape) {
  .popup {
    position:fixed;
    overflow-y:scroll;
  }
  .popup-window {
    left:50%;
    transform: translate(-50%, 0);
    top:35px;
    position:absolute;
  }
}
@media (max-width:359px) {
  .popup-window {
    left:0;
    top:35px;
    transform: none;
    position:absolute;
  }
}
@media (min-width:640px) {
  .popup {
    padding-left:calc(50vw - 390px/2);
  }
  .popup-window {
    width:390px;
    padding:50px 30px;
  }
}
@media (min-width:1200px) {
  .popup-window {
    width:390px;
    padding:0 30px 50px;
  }
  .close-button {
    top:-30px;
    width:18px;
    height:18px;
  }
  .form-newsletter label {
    padding-right:10px;
  }
  .radio-label:before {
    font-size:20px;
  }
}
